p {
  font-family: "K2D", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.textContainer {
  font-family: "K2D", sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.textContainer p {
  width: 305px;
}

.textContainer p:nth-child(2) {
  margin-top: 20px;
}

.inputContainer {
  padding: 0px 40px;
}

.inputContainer input {
  margin-top: 20px;
  font-size: 17px;
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #231331;
  opacity: 0.7;
}

.inputContainer input:focus {
  outline: none;
}

.preContainer {
  display: flex;
  width: 100%;
  padding: 0%, 5%;
}

.buttonsContainer {
  position: absolute;
  top: 695px;
  width: 100%;
  padding: 0px 50px;
}

.simpleSelectionContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  height: 30px;
  width: 51px;
  background-color: #00ccbc;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.longSelectionContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.flexOne {
  flex: 1;
}

.textFifth {
  display: flex;
  flex-direction: column;
}

.lastTextContainer {
  color: #231331;
  font-family: "K2D", sans-serif;
  width: 100vw;
  display: flex;
  padding-left: 3rem;
  align-items: flex-start;
  margin-top: 6rem;
}

.lastTextContainer h2 {
  font-size: 22px;
  font-weight: 300;
}

.lastTextContainer p {
  margin-top: 2rem;
  font-style: italic;
}

#tabletDesk {
  display: none;
}

.preContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0%;
}

.finalButton {
  background-color: #231331;
  color: white;
  border-radius: 20px;
  width: 140px;
  height: 35px;
  margin-top: 25px;
  font-size: 12px;
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1279px) {
  p {
    font-size: 20px;
  }

  .textContainer {
    margin-top: 3rem;
  }

  .textContainer p {
    width: 450px;
  }

  .inputContainer {
    margin-top: 20px;
    padding: 0px;
    width: 450px;
  }

  .preContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 10%;
  }

  .simpleSelectionContainer {
    width: 80%;
    justify-content: flex-start;
  }

  .buttonsContainer {
    padding: 0px 15%;
  }

  .longSelectionContainer {
    width: 80%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .option {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .optionValue {
    width: 80%;
    text-align: center;
  }

  #mobile {
    display: none;
  }

  #tabletDesk {
    display: unset;
  }

  .lastTextContainer {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .deskContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .textContainer p {
    width: 405px;
    font-size: 20px;
  }

  .inputContainer {
    padding: 0px;
    width: 405px;
  }

  .preContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 10%;
  }

  .simpleSelectionContainer {
    width: 100%;
    justify-content: flex-start;
  }

  .buttonsContainer {
    width: 35vw;
    padding: 0 5% 0 0;
  }


  .longSelectionContainer {
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .option {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .optionValue {
    width: 80%;
    text-align: center;
  }

  #mobile {
    display: none;
  }

  #tabletDesk {
    display: unset;
  }

  .lastText{
    padding-left: 3rem;
  }

  .lastText h1 {
    font-size: 42px;
  }

  .lastText h2 {
    font-size: 42px;
  }

  .lastText p {
    font-size: 24px;
  }
}
